#content, #table-of-contents{
  margin-top:50px;
}

img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

@media (min-width: 992px) {
  .infobox {
    float: right;
    width: 40%;
    display: inline-block;
    margin-left:15px;
  }
}

.plotly {
  margin: 0 auto;
}

.pages ul.nav{
  margin: 0;
}

.figure {
  margin: 10px auto;
}
