img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.infobox {
  max-width: 30%;
  float: right;
}

.infoboxtable {
  margin-top: 0;
}

.plotly {
  margin: 0 auto;
}

.pages ul.nav{
  margin: 0;
}